@charset "utf-8";
/* кодировка */
/* подключение шрифтов */
@import "fonts.css";

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* ==============================
   Общие настройки
   ============================== */

/* ----------- Desktop ----------- */
@media only screen
and (min-device-width: 737px){
    body {
        display: none;
    }
}

body {
    background: #fff;
    overflow-x: hidden;
    font: 100 4vmin/1.5 'CenturyGothicRegular', sans-serif;
    color: #383f51;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /*при клике на любой элемент не появляется синий фон*/
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-family: PoiretOneNormal;
    color: #383f51;
    margin: 3.125vmin 0 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.short_line {
    border-bottom: 1px dotted rgba(56, 63, 81, 0.4);
    width: 90px;
    margin: 5px 0;
}

.short_line_white {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
    width: 90px;
    margin: 5px 0;
}

.long_line {
    border-bottom: 1px dotted rgba(56, 63, 81, 0.4);
    width: 160px;
    margin: 5px 0;
}

.long_line_white {
    border-bottom: 1px dotted rgba(255, 255, 255, 0.4);
    width: 160px;
    margin: 5px 0;
}

/* ==============================

   ============================== */

.wrapper {
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    min-height: 100vmax;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/*.brick {*/
/*padding: 50px 0 0 0;*/
/*position: relative;*/
/*background-repeat: no-repeat;*/
/*background-position: center center;*/
/*-webkit-background-size: cover;*/
/*-moz-background-size: cover;*/
/*-o-background-size: cover;*/
/*background-size: cover;*/
/*}*/

.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.content_padding { /*для мелких блоков - отступы от края экрана*/
    padding: 10px;
}

.text_pink {
    color: #F797B3;
}

.text_rose {
    color: #FFCCFF;
}

.text_light_green {
    color: #66CCCC;
}

.text_white {
    color: #fff;
}

.bg_pink {
    background-color: #F797B3;
}

.bg_green {
    background-color: #42a6a6;
}

/* ==============================
   FIRST SCREEN
   ============================== */

.first_screen {
    min-height: 100vh;
    background-color: #FFE3D6;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* top-panel */
#top_panel {
    z-index: 9999;
    position: fixed;
    width: 100%;
    background-color: #FFE3D6;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #7b8192;
}

/* contacts */
.top_panel__contacts i {
    /*font-size: 20px;*/
    font-size: 6.25vmin;
}

.top_panel__contacts span {
    padding-right: 1rem; /*rem - относительно размера шрифта html*/
}

/* menu button */
.btn_row {
    height: 2px;
    width: 20px;
    margin: 3px 0;
    background-color: #7b8192;
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.btn_row__main-scroll {
    width: 14px;
}

.top_panel__menu__btn.active .btn_row:first-child {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    top: 5px;

}

.top_panel__menu__btn.active .btn_row:last-child {
    -webkit-transform: rotate(-225deg);
    -ms-transform: rotate(-225deg);
    transform: rotate(-225deg);
    top: -5px;
}

.top_panel__menu__btn.active .btn_row:nth-child(2) {
    opacity: 0;
}

/* menu list */
.top_panel__menu__list {
    display: none;
    width: 100%;
    height: 100vh;
    background-color: #F8E3D4;
}

.top_panel__menu__list.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.top_panel__menu__list__link {
    text-decoration: none;
    /*line-height: 50px;*/
    /*font-size: 16px;*/
    line-height: 16.6vmin;
    font-size: 6vmin;
    font-family: PoiretOneNormal;
    color: #7b8192;
}

/* status */
#status {
    /*height: 50px;*/
    /*margin-top: 60px;*/
    /*height: 50px;*/
    margin-top: 17.75vmin;
    background-color: transparent;
}

/* status img */
.status__img {
    -ms-flex-preferred-size: 80px;
    flex-basis: 80px;
}

.green_strip {
    /*width: 80px;*/
    /*height: 15px;*/
    width: 25vmin;
    height: 4.7vmin;
    background-color: #B2DFDF;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#status img {
    /*width: 50px;*/
    /*height: 50px;*/
    width: 15.6vmin;
    height: 15.6vmin;
    border-radius: 50%;
}

/* status msg */
.status__message {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-family: OpenSansLight;
    font-style: italic;
    /*font-size: 11px;*/
    font-size: 3.4vmin;
}

.white_strip {
    height: 4.7vmin;
    background-color: white;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

p {
    margin: 0;
    padding: 0;
    padding-left: 2px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    line-height: 1.3;
}

/* logo + short info */
#logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    /*position: absolute;*/
    /*top: 20vmax;*/
}

.logo__pic {
    /*width: 60px;*/
    /*height: 60px;*/
    width: 18.75vmin;
    height: 18.75vmin;
    background-color: #42A6A6;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 11.25vmin;
    font-family: OpenSansLight;
}

.logo__title {
    /*font-size: 22px;*/
    font-family: PoiretOneNormal;
    font-size: 7.875vmin;
    margin-top: 5px;
    letter-spacing: 1px;
}

.logo__info {
    /*font-size: 11px;*/
    font-size: 3.3vmin;
    margin-top: 10px;
    font-family: GothamProLight;
}

/* picture */
#picture {
    width: 100%;
    height: 50vh;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    /*position: absolute;*/
    /*bottom: 0;*/
    background-image: url("../images/first_screen.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.picture__main-scroll {
    height: 30px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

#picture .btn_row {
    background-color: #fff;
    bottom: 10px;
    position: initial;
}

#picture .btn_row:first-child {
    -webkit-transform: rotate(-155deg);
    -ms-transform: rotate(-155deg);
    transform: rotate(-155deg);
    position: relative;
    left: 2px;
    top: 0px;
}

#picture .btn_row:last-child {
    -webkit-transform: rotate(155deg);
    -ms-transform: rotate(155deg);
    transform: rotate(155deg);
    position: relative;
    right: 1px;
    top: 0px;
}

/* ==============================
   ABOUT ME
   ============================== */

#about_me {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_me__header {
    width: 100%;
    height: 20vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5vmin;
}

.about_me__bg_girl {
    position: relative;
    /*margin-top: 20px;*/
    width: 100%;
    min-height: 80vmax;
    background-image: url("../images/about_me2.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.about_me__bg_glass {
    width: 100%;
    min-height: inherit;
    /*height: 100%;*/
    padding: 10px 0;
    background-color: rgba(204, 255, 255, 0.8);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* social icons */
.about_me__social {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    font-size: 1rem;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

.about_me__social__icon {
    /*width: 24px;*/
    /*height: 24px;*/
    width: 7.5vmin;
    height: 7.5vmin;
    margin-bottom: 2vmin;
    background-color: rgba(56, 63, 81, 0.7);
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_me__social__icon:last-of-type {
    margin-bottom: 0;
}

/* name, prof, slogan */

.about_me__brief {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.about_me__name {
    /*font-size: 28px;*/
    font-size: 8.8vmin;
}

.about_me__slogan {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-family: OpenSansLight;
    font-style: italic;
    font-size: 3.45vmin;
}

.about_me__slogan i {
    font-size: 3.125vmin;
}

.about_me__slogan__first_row {
    position: relative;
    right: 25px;
    padding-top: 5px;
}

.about_me__slogan__second_row {
    position: relative;
    left: 25px;
}

/*experience block*/
#experience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.experience__icon {
    width: 15vmin;
    height: 15vmin;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 11vmin;
    font-family: PoiretOneNormal;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.experience__icon__figure {
    line-height: 1;
}

.experience__icon span {
    font-size: 4.5vmin;
    /*position: absolute;*/
    /*bottom: 1vmin;*/
    /*right: 1vmin;*/
    color: #383f51;
    line-height: 0.5;
}

.experience__title {
    /*font-size: 16px;*/
    /*margin-top: 10px;*/
    font-size: 5vmin;
    margin-top: 3.125vmin;
    letter-spacing: 1px;
}

.experience__info {
    width: 100%;
    margin-top: 5px;
    /*font-size: 11px;*/
    font-size: 3.45vmin;
    font-family: CenturyGothicRegular;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.experience__info__statement {
    /*margin-top: 10px;*/
    margin-top: 3.125vmin;
}

.call_to_action {
    text-decoration: none;
    padding: 5px 10px;
    margin-left: 5px;
    outline: none;
}

.call_to_action__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    font-size: 3.45vmin;
    line-height: 7vmin;
}

.call_to_action__info__header {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 10px 0;
    font-size: 5vmin;
    color: gold;
}

.call_to_action__info__item {
    padding-left: 5px;
}

/* ==============================
   FOR YOU
   ============================== */

#for_you {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.for_you__header {
    width: 100%;
    height: 20vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5vmin;
}

.for_you__bg_face {
    position: relative;
    /*margin-top: 20px;*/
    width: 100%;
    min-height: 80vh;
    background-image: url("../images/for_you.png");
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    /*background-attachment: fixed;*/
}

.for_you__bg_glass {
    width: 100%;
    min-height: inherit;
    padding: 10px 0;
    background-color: rgba(0, 0, 0, 0.51); /*rgba(255, 201, 201, 0.51)*/
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* design block */
#design {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.design__icon {
    width: 12vmin;
    height: 12vmin;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 5vmin;
    /*font-family: GothamProRegular;*/
    position: relative;
}

.design__title {
    /*font-size: 16px;*/
    /*margin-top: 10px;*/
    font-family: PoiretOneNormal;
    font-size: 6.4vmin;
    margin-top: 3.125vmin;
    letter-spacing: 1px;
}

.design__info {
    width: 100%;
    /*margin-top: 5px;*/
    /*font-size: 11px;*/
    font-size: 3.45vmin;
    font-family: CenturyGothicRegular;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.design__info__statement {
    margin-top: 3vmin;
}

/* quality block */
#quality {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
    padding: 30px 10px;
}

.quality__icon {
    width: 12vmin;
    height: 12vmin;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 5vmin;
    /*font-family: GothamProRegular;*/
    position: relative;
}

.quality__title {
    /*font-size: 16px;*/
    /*margin-top: 10px;*/
    font-family: PoiretOneNormal;
    font-size: 6.4vmin;
    margin-top: 3.125vmin;
    letter-spacing: 1px;
}

.quality__info {
    width: 100%;
    /*margin-top: 5px;*/
    /*font-size: 11px;*/
    font-size: 3.45vmin;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    font-family: CenturyGothicRegular;
}

.quality__info__statement {
    margin-top: 3vmin;
}

/* guarantee block */
#guarantee {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    position: relative;
}

.guarantee__icon {
    width: 12vmin;
    height: 12vmin;
    background-color: rgba(255, 255, 255, 0.31);
    border: 1px solid white;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 5vmin;
    /*font-family: GothamProRegular;*/
    /*position: relative;*/
}

.guarantee__title {
    /*font-size: 16px;*/
    /*margin-top: 10px;*/
    font-family: PoiretOneNormal;
    font-size: 6.4vmin;
    margin-top: 3.125vmin;
    letter-spacing: 1px;
}

.guarantee__info {
    width: 100%;
    /*margin-top: 5px;*/
    /*font-size: 11px;*/
    font-size: 3.45vmin;
    font-family: CenturyGothicRegular;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

.guarantee__info__statement {
    margin-top: 3vmin;
}

/* ==============================
   TESTIMONIALS
   ============================== */

#testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonials__header {
    width: 100%;
    height: 20vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5vmin;
}

.testimonials_carousel {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.testimonial_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    /*width: 100%;*/
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.testimonial_item__photo img {
    width: 25vmin !important;
    height: 25vmin;
    border-radius: 50%;
}

.testimonial_item__text {
    text-align: center;
    font-family: OpenSansLight;
    font-style: italic;
    /*font-size: 12px;*/
    font-size: 3.75vmin;
}

.testimonial_item__name {
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 4vmin;
    padding-bottom: 10px;
    font-family: OpenSansLight;
}

/* ==============================
   FOOTER
   ============================== */

#footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: aliceblue;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.footer__contacts {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.footer__call_to_action {
    /*font-size: 11px;*/
    font-size: 3.45vmin;
    color: white;
    background-color: #42A6A6;
    padding: 2px 8px;
}

/* logo + short info */
.footer__logo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.footer__logo__title {
    font-family: PoiretOneNormal;
    font-size: 7vmin;
}

.footer__logo__info {
    font-size: 3.125vmin;
}

/* social icons */
.footer__social_icon {
    color: #42A6A6;
}

/* copyright */

/* ==============================
   SERVICES and PRICES
   ============================== */

#services {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services__header {
    width: 100%;
    height: 20vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5vmin;
}

/* intro */
.services__introduction {
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services__introduction__img {
    max-width: 60vmin;
    max-height: 25vmax;
}

.services__introduction__statements {
    padding: 20px 0;
    font-family: CenturyGothicRegular;
    font-size: 3.45vmin;
}

.services__introduction__statements__item {
    padding: 1vmin;
}

/* services */

.services {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.services__category {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 0;
    font-family: OpenSansLight;
}

.services__category__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.category_icon {
    width: 15vmin;
    height: 15vmin;
    background-color: #42A6A6;
    /*border: 1px solid white;*/
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white;
    font-size: 12vmin;
    font-family: PoiretOneNormal;
    position: relative;
}

.category__title {
    font-size: 6vmin;
    margin-top: 3.125vmin;
    letter-spacing: 1px;
}

.services__category__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    background-color: #FFE3D6; /*#fde5ee*/
}

.service_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    padding: 5px 0;
}

.service_head {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.service_name {
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.service_name i {
    font-size: 4vmin;
}

.service_price i {
    font-size: 3.125vmin;
}

.service_description {
    font-size: 3.45vmin;
    padding: 5px 0 5px 5.5vmin;
}

/* ==============================
   PORTFOLIO
   ============================== */

#portfolio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.portfolio__header {
    width: 100%;
    height: 20vmax;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 5vmin;
}

.filters {
    width: 100%;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.filters__item {
    padding: 5px 0;
}

.filters__link {
    padding: 5px 5px;
    font-family: OpenSansLight;
    font-size: 2.8vmin;
}

.filters__link.active {
    background-color: #F797B3;
    color: white;
}

/*services_cost*/
.img_wrapper {
    position: relative;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    cursor: pointer;
}

.img_wrapper img {
    cursor: pointer;
}

.touch_icon {
    justify-content: flex-end;
    position: absolute;
    right: 0;
    top: 0;
    color: #efefef;
    width: 100%;
    height: 100%;
}

.services_cost {
    visibility: hidden;
    opacity: 0;
    width: 100%;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    color: white;
    bottom: 0;
    background: rgba(58, 145, 145, 0.75); /*rgba(0, 0, 0, 0.27);*/
    -webkit-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    -o-transition: visibility 0s linear 0.3s, opacity 0.3s linear;
    transition: visibility 0s linear 0.3s, opacity 0.3s linear;
}

.services_cost.active {
    visibility: visible;
    opacity: 1;
    -webkit-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.services_cost__service {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    padding: 5px 0;
    font-size: 3.45vmin;
}

.services_cost__alternative_text {
    -ms-flex-item-align: center;
    align-self: center;
}

.services_cost__service__name {
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%;
}

.services_cost__service__name i {
    font-size: 3.45vmin;
}

.services_cost .short_line_white {
    -ms-flex-item-align: end;
    align-self: flex-end;
}

.total_cost {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px 0;
}

.total_price {
    font-size: 4.5vmin;
}

/* loader */
.loader {
    display: none;
}

.loader.active {
    display: block;
}

.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
    width: 2em;
    height: 2em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
}

.loader {
    color: #b2dfdf;
    font-size: 2vmin;
    margin: 30px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

.loader:before,
.loader:after {
    content: '';
    position: absolute;
    top: 0;
}

.loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.loader:after {
    left: 3.5em;
}

@-webkit-keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}

@keyframes load7 {
    0%,
    80%,
    100% {
        -webkit-box-shadow: 0 2.5em 0 -1.3em;
        box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
        -webkit-box-shadow: 0 2.5em 0 0;
        box-shadow: 0 2.5em 0 0;
    }
}

/* /loader */

.portfolio__more_works {
    text-align: center;
    background-color: #fad7dc;
    color: azure;
    font-family: PoiretOneNormal;
    font-size: 5vmin;
}




/*}*/
